.all-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .navigation-part {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    .rendered-page {
      width: 100%;
      max-width: 800px;
      form {
        input {
          padding: 8px;
        }
        button {
          margin-left: 12px;
        }
      }
    }
    nav {
      display: flex;
      flex-direction: column;
      button {
        margin: 4px;

        &.active {
          border: 2px solid #7328ec;
        }
      }
    }
  }
}

pre {
  border: 2px solid #068b4d;
  border-radius: 8px;
  padding: 1rem;
}

input {
  margin-right: 12px;
  padding: 4px;
}

nav button {
  border: 1px solid #4b1d96;
}

button {
  border: 1px solid #068b4d;
  border-radius: 8px;
  margin: 12px 0;
  margin-right: 8px;
}
